.menu{
    list-style-type: none;
   
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
   

}

.link{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
}
.link:hover{
    color: rgb(7, 63, 111);
}